@mixin flex-container($flex-direction, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
}

@mixin wrapper($flex-direction, $justify-content, $align-items) {
  max-width: 1110px;
  width: 100%;

  display: flex;

  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  // flex-wrap: wrap;

  gap: 4rem;

  & > h2 {
    @include sectionTitle;
  }
}

@mixin section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

@mixin fullHeight {
  min-height: 100vh;
}

@mixin sectionTitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-left: 2rem;
  justify-content: flex-start;
}
