@use '../../common/styles/mixins' as mixins;
@import '../../common/styles/vars';

.prosSection {
  // display: flex;
  // align-items: start;
  // justify-content: space-between;

  // gap: 4rem;
  // padding: 2rem 0;

  background: $accent-white;

  color: $accent-dark;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  @include mixins.wrapper(row, space-between, center);
}

.prosContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.body {
  font-size: 16px;
  line-height: 1.5rem;
}
