.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.myNameSpan {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  padding: 0.8em 1.2em;
  border-radius: 40px;
  background-color: #ba3939;
  height: auto;
}
