@import '../../common/styles/vars';

.headline {
  font-family: Raleway, sans-serif;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;

  text-shadow: 1px 1px $accent-red, 2px 2px $accent-red, 3px 3px $accent-red,
    4px 4px $accent-red, 5px 5px $accent-red, 6px 6px $accent-red,
    7px 7px $accent-red, 8px 8px $accent-red, 9px 9px $accent-red,
    10px 10px $accent-red, 11px 11px $accent-red, 12px 12px $accent-red,
    13px 13px $accent-red, 14px 14px $accent-red, 15px 15px $accent-red,
    16px 16px $accent-red, 17px 17px $accent-red, 18px 18px $accent-red,
    19px 19px $accent-red, 20px 20px $accent-red, 21px 21px $accent-red,
    22px 22px $accent-red, 23px 23px $accent-red, 24px 24px $accent-red,
    25px 25px $accent-red, 26px 26px $accent-red;
}

.headlineAddition {
  font-size: 32px;
  font-weight: 500;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  button {
    justify-content: flex-start;
  }
}
