@use '../../common/styles/mixins' as mixins;

.contactMeSection {
  @include mixins.section;
}

.wrapper {
  @include mixins.wrapper(column, space-between, flex-start);
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
