@use '../../common/styles/mixins' as mixins;

.contactMeSection {
  @include mixins.section;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
