@import '../../common/styles/vars';

.navigationPanel {
  display: flex;
  gap: 2rem;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.navLink {
  padding: 0.6rem;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $text-color;
    content: '';
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}
