@use '../../common/styles/mixins' as mixins;

.wrapper {
  @include mixins.wrapper(column, center, flex-start);
  @include mixins.fullHeight;
}

.text {
  flex-wrap: wrap;
  font-size: 24px;
  line-height: 32px;
  width: 50%;

  &:nth-child(odd) {
    align-self: flex-end;
  }
}
